NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCKkk5gLJsMwhC9oOpdKoJIjnY4eNmmjtM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=kitchen-nest-3c59d.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=kitchen-nest-3c59d
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=kitchen-nest-3c59d.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=431161122307
NEXT_PUBLIC_FIREBASE_APP_ID=1:431161122307:web:38c69f26bcb14ca257f836
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-V9LS6HDX3E
